
Projekt1.log
*.pdf
*.aux
*.aux
*.aux
*.acn
*.bbl
*.blg
*.dvi
*.glo
*.glsdefs
*.ist
*.lof
*.lot
*.out
*.ps
*.syg
*.toc
header_verzeichnisse/abkverzeichnis1.aux
header_verzeichnisse/symbolverzeichnis1.aux
*.log
